.company-container {
  background: white;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.56);
  margin-bottom: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.company-price-section {
  margin-top: 20px;
}

.company-info {
  margin-top: 10px;
}

.company-info-thumbnail {
  margin-bottom: 0;
}

.company-info-name {
  margin-top: 15px;
}

.company-info-details {
  margin-bottom: 5px;
}
