.company-name {
  display: inline-block;
  width: 67%;
}

.buttons {
  display: inline-block;
  float: right;
  margin-top: 2px;
}

.buttons button {
  margin-left: 10px;
}

.company-stats-title, .related-companies-title, .company-news-title {
  font-size: 20px;
}

.company-news-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.company-name {
  text-transform: capitalize;
  padding-right: 0;
}

.company-code {
  color: #858585;
  margin-top: -10px;
  margin-bottom: 10px;
}

.related-companies-list {
  height: 250px;
}

.industry-label {
  margin-right: 5px;
}

.industry-label a:hover {
  text-decoration: none;
}

.summary-news {
  margin-bottom: 5px;
  text-align: center;
}
