.charts-heading {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
}

.charts-container {
  border-color: rgb(221,221,221);
}

.category-selection {
  margin: 15px 15px 0 15px;
}

.category-dropdown {
  display: inline-block;
  margin-right: 15px;
}

.selected-category {
  font-size: 15px;
  font-weight: bold;
}
