.stat-item {
  padding-top: 5px;
}

.stat-item-company {
  padding-left: 10px;
}

.stat-item-value {
  font-weight: bold;
  float: right;
}

.compare-date-range {
  padding-bottom: 10px;
}

.compare-date-range-title {

}
