.news-container {
	height: 530px;
}

.news-list {
	height: 100%;
	overflow: scroll;
	margin-bottom: 10px;
}

.news-panel-heading {
	color: #212121;
	font-weight: bold;
	font-size: 14px;
}

.news-panel-description {
	font-size: 12px;
	margin-top: 10px;
}

.news-panel-date {
	color:  #000000;
	font-size: 12px;
	margin-top: 10px;
}

.latest-news-heading {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 10px;
}
