.news-container {
	height: 500px;
}

.news-list {
	height:100%;
	overflow:scroll;
	padding-top:10px;
	margin-bottom:10px;
}

.news-panel-heading {
	color:#000000;
	font-weight:bold;
	font-size:14px;
}

.news-panel-description {
	font-size:12px;
	margin-top:10px;
}

.news-panel-date {
	color: #000000;
	font-size:12px;
	margin-top:10px;
}
