.company-name {
  display: inline-block;
  width: 65%;
}

.buttons {
  display: inline-block;
  float: right;
}

.buttons button {
  margin-left: 10px;
}

.company-stats-title, .related-companies-title, .company-news-title {
  font-size: 20px;
}

.company-news-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.company-name {
  text-transform: capitalize;
  padding-right: 0;
}

.company-code {
  color: #858585;
  margin-top: -10px;
  margin-bottom: 10px;
}

.related-companies-list {
  height: 230px;
}
