.company-title {
  font-size: 24px;
  margin-bottom: 10px;
  width: 80%;
}

.stocks-graph {
  margin: 20px 0;
}

.stocks-graph img {
  width: 100%;
}

.industry-stats {
  margin-bottom: 20px;
}

.company-stats-title, .related-companies-title, .company-news-title {
  font-size: 20px;
}

.company-news-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tile {
  width: 100%;
	display: inline-block;
	box-sizing: border-box;
	background: #fff;
	padding: 10px;
	margin: 10px 0;
  /*-webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);*/
}
