.charts-heading {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
}

.charts-container {
  border-color: rgb(221,221,221);
}

.category-selection {
  margin: 15px 15px 0 15px;
}

.category-dropdown {
  display: inline-block;
  margin-right: 15px;
}

.selected-category {
  font-size: 15px;
  font-weight: bold;
}

.background-bar {
  background-color:orange;
  height:200px;
  width:40px;
  margin:0 auto;
  border-style: solid;
  border-width: medium;
  border-color: grey;
  border-radius: 8px;
}

.foreground-bar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.positive-bar {
  background-color:green;
  height:100px;
  width:40px;
  margin:0 auto;
  border-style: solid;
  border-width: medium;
  border-color: grey;
  border-bottom: thin solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.positive-foreground-bar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.negative-bar {
  background-color:white;
  height:100px;
  width:40px;
  margin:0 auto;
  border-style: solid;
  border-width: medium;
  border-color: grey;
  border-top: thin solid;
  border-top-color: grey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.negative-background-bar {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bar-chart-title {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.stock-stat-value {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.stock-stat-blurb {
  text-align: center;
}
