.stock-price-info-heading {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
}

.company-price-table {
  background-color: #F6F6F6;
}

.stock-price {
  font-size: 40px;
}

.stock-price-change {
  font-size: 14px;
}

.stock-price-change-value {
  font-size: 16px;
  font-weight: bold;
}

.stock-close-date {
  font-size: 14px;
}

.stock-close-date-value {
  font-size: 16px;
  font-weight: bold;
}

.other-prices {
  font-weight: bold;
  font-size: 16px;
}

.green-color {
  color: green;
}

.red-color {
  color: red;
}
