.stockoverflow {
  margin-top: 10%;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
}

.search-by-company {
  width: 50%;
  margin: 20px auto;
}

.search-industries {
  margin: 30px auto;
  text-align: center;
}

.search-industries a {
  color: #000000;
  font-weight: bold;
}
