body {
  background: url('../images/stats.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-family: 'Asap', 'Open Sans', sans-serif;
}

#navbar-eleven51 {
  background: none;
  border: none;

  .navbar-brand {
    color: rgba(255,255,255,0.6);
    font-weight: bold;
    margin-left: 0;
  }

  a {
    color: white;

    &:hover {
      color: white;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
    }
  }
}

.layout {
  width: 88%;
}

.error {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}
