@keyframes ticker {
	0%   {margin-top: 0}
	25%  {margin-top: -30px}
	50%  {margin-top: -60px}
	75%  {margin-top: -90px}
	100% {margin-top: 0}
}

.stock-ticker {
  /*box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);*/
  width: 320px;
  height: 30px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 4px;
  padding: 3px;
  -webkit-user-select: none
}

.stock-title {
  float: left;
  color: #ffffff;
  padding: 6px;
  position: relative;
  top: 1%;
  border-radius: 4px;
  /*box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);*/
  font: 16px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: pointer
}

.stock-ticker ul {
  float: left;
  padding-left: 20px;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -webkit-user-select: none
}

.stock-ticker ul li {line-height: 30px; list-style: none }

.stock-ticker ul li a {
  text-decoration: none;
  font: 17px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none
}

.stock-ticker ul:hover { animation-play-state: paused }
.stock-ticker span:hover+ul { animation-play-state: paused }

.float-right {
  float: right;
}

.green-color a:visited {
  color: green;
}

.red-color a:visited {
  color: red;
}
