.news-content {
  line-height: 2;
  text-align: justify;
}

.sentiment-emotion {
  width: 300px;
}

.news-analysis img {
  width: 90%;
  height: auto;
}

.news-compare .compare-button {
  float: none;
}

.news-no-preferences a {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.news-no-preferences a:hover {
  color: black;
}

.news-date-container {
  font-size: smaller;
}

p {
  -ms-word-break: break-all;
      word-break: break-all;

 -webkit-hyphens: auto;
    -moz-hyphens: auto;
         hyphens: auto;
}

.involved-company-label:hover {
  /*background-color: #2bacd4;*/
  cursor: pointer;
}

.involved-company-label a {
  text-decoration: none;
}

.news-link a {
  color: black;
}
