.news-feed-title {
  display: inline-block;
}

.news-content {
  line-height: 2;
  text-align: justify;
}

.sentiment-emotion {
  width: 300px;
}

.news-analysis img {
  width: 90%;
  height: auto;
}

.news-compare .compare-button {
  float: none;
}

.news-no-preferences a {
  color: grey;
  text-decoration: none;
  cursor: pointer;
  font-size: 'large';
  margin-top: 60;
}

.news-no-preferences a:hover {
  color: black;
}

.title .afr-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.title .afr-link:hover {
  color: grey;
}

.news-date-container {
  font-size: smaller;
}

p {
 -webkit-hyphens: auto;
    -moz-hyphens: auto;
         hyphens: auto;
}

.involved-company-label:hover {
  /*background-color: #2bacd4;*/
  cursor: pointer;
}

.involved-company-label a {
  text-decoration: none;
}

.news-link {
  text-align: right;
}

.news-link a {
  color: black;
  text-decoration: underline;
}

.news-compare {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
