.list-item-title {
  margin-top: 0;
  font-weight: bold;
}

.list-item {
  color: #000000;
}

.list-item-second {
  font-size: 16px;
  float: right;
}

.list-item-second.green {
  color: #5cb85c;
}

.list-item-second.red {
  color: #d9534f;
}

.list-item:hover {
  background-color: rgba(0,0,0,0.03);
}

.page-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.list-item-sentiment {
  height: 40px;
  float: right;
  margin-top: 3px;
}

.sentiment-strength {
  margin-top: 5px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.related-company.list-item-title {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
}

.remove-button {
  margin-top: 5px;
  float: right;
}

.add-company {
  float: right;
}

.preferences-title {
  display: inline-block;
}

.compare-stats-panel {
  /*padding: 0;*/
}

.compare-stats {
  min-height: 200px;
  padding: 15px;
}

.side-border {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.compare-stats-sub-title {
  text-align: center;
}

.compare-popup-button {
  margin-left: 10px;
}

.table-bordered {
  border: #858585;
}

.related-company-compare {
  margin-top: 10px;
}

.related-company-compare-title {
  font-weight: bold;
}

.related-compare-item {
  margin-top: 10px;
  cursor: pointer;
}

.btn.compare-related {
  font-size: 12px;
  margin: 10px 10px 0 0;
}

.btn.compare-related:focus, .btn.compare-related:active {
   outline: none !important;
   background-color: #fff;
}

.industry-list-item-title {
  display: inline;
}

.label.industry-type {
  position: absolute;
  top: 3px;
  margin-left: 10px;
}

.involved-companies-labels {
  margin-top: -5px;
  margin-bottom: 10px;
}

.involved-companies-labels .label {
  margin-right: 5px;
}

.news-date-container {
  margin-bottom: 5px;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.industries-page-title {
  display: inline-block;
}

.prev-growth-rate {
  display: inline-block;
  margin-top: 20px;
  float: right;
}

.white-bg-container {
  padding: 0;
}

.white-bg {
  background-color: white;
  margin: 5px 5px 10px;
  padding: 10px 15px;
  border: 1px #e5e5e5 solid;
  border-radius: 4px;
}

.info-button {
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin-top: -2px;
  margin-left: 4px;
}

.learning-centre-text {
  margin-bottom: 15px;
}

.learning-centre p {
  text-align: justify;
  margin-bottom: 10px;
}

.learning-centre .sub-title {
  cursor: pointer;
}

.industries-page-title {
  display: inline-block;
}
